.App{
  width:400px;
  margin: auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 4px;
  display: flex;
  

}

.img{
  width: 400px;
  height: 400px;
}
.btn1{
  cursor: pointer;
  margin-right: 5px;
  font-size: large;
margin-top: 30px;
color: cornflowerblue;
border-color: cornflowerblue;
border-radius: 4px;
width: 130px;
height: 45px;

}
.main-items{
  position: relative;
  margin-top: 30px;
  display: flex;
margin-left: 5px;
justify-content: space-between;

}
.item-name{
  font-size: 26px;
  font-weight: 700;
}
.price{
  font-size: 26px;
  font-weight: 700;
  margin-left: 5px;
}
.description{
 font-family: sans-serif ;
  border-top: solid 1px;
  height: 80px;
 box-sizing: border-box;
 padding: 10px;
 padding-left: 0px;
 margin-left: 5px;
}
.add{
cursor: pointer;
  background-color: green;
  color: white;
  width: 190px;
  height: 29px;
  border-radius: 4px;
  border-style: none;
  margin-left: 5px;
  margin-bottom: 10px;
}
.add2{
  cursor: pointer;
  background-color: rgba(16, 194, 51, 0.2);
  color: white;
  width: 190px;
  height: 29px;
  border-radius: 4px;
  border-style: none;
  margin-left: 5px;
  margin-bottom: 10px;
}

.delete{
  cursor: pointer;
width: 200px;
border-style: none;
background-color: inherit;
color: red;

}
.buttons{
  display: flex;
flex-direction: column;
}
.details-popup {

  
  padding: 10px;
  position: absolute;
  top: 0;
  left: 360px;
  width: 300px;
  height: 80px;

 box-shadow: 0 3px 3px 3px rgb(0 0 0 / 0.2);
 background-color: rgb(255, 254, 254);
}
.hide{
  cursor: pointer;
  background-color: inherit;
  color: red;
  border-style: none;
 margin-left: 290px;
width: 20px;
height: 20px;
margin-top: 1px;
}
.disabled{
  width: 100px;
  opacity: 0.4;

}